<h3>成績一覧</h3>

<% subjects = Score.subjects.keys %>

<% grouped_scores =
     @scores.group_by { |s| [s.term, s.test_type] } %>

<table border="1" cellpadding="6">
  <tr>
    <th>学期 / 教科</th>
    <% subjects.each do |subject| %>
      <th><%= I18n.t("activerecord.enums.score.subject.#{subject}") %></th>
    <% end %>
  </tr>

  <% grouped_scores.each do |(term, test_type), scores| %>
    <tr>
      <td>
        <%= I18n.t("activerecord.enums.score.term.#{term}") %><br>
        （<%= I18n.t("activerecord.enums.score.test_type.#{test_type}") %>）
      </td>

      <% subjects.each do |subject| %>
        <% score = scores.find { |s| s.subject == subject } %>
        <td>
          <%= score ? score.score : "–" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
