<header>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h3>
      <%= link_to "塾アプリ",
        if user_signed_in? && current_user.admin?
          admin_root_path
        else
          root_path
        end
      %>
    </h3>

    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= button_to "ログアウト",
              admin_logout_path,
              method: :delete %>
      <% else %>
        <%= button_to "ログアウト",
              destroy_user_session_path,
              method: :delete %>
      <% end %>
    <% end %>
  </div>
</header>
