<div class="my-page-container">
  <h1 class="my-page-title">マイページ</h1>

  <ul class="my-page-menu">
    <li>
      <%= link_to scores_path, class: "menu-card" do %>
        <span class="menu-icon">📊</span>
        <span class="menu-text">成績確認</span>
      <% end %>
    </li>

    <li>
      <%= link_to announcements_path, class: "menu-card" do %>
        <span class="menu-icon">📢</span>
        <span class="menu-text">お知らせ</span>
      <% end %>
    </li>

    <li>
      <%= link_to profile_path, class: "menu-card" do %>
        <span class="menu-icon">👤</span>
        <span class="menu-text">プロフィール</span>
      <% end %>
    </li>
  </ul>
</div>