<h2>登録方法を選択してください</h2>

<%= link_to "保護者として登録", new_user_registration_path(role: "parent"), class: "btn btn-primary" %>
<%= link_to "生徒として登録", new_user_registration_path(role: "student"), class: "btn btn-secondary" %>
